@import url(https://fonts.googleapis.com/css?family=Roboto:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('responsive.css');

footer {
    margin-top: 125px;
}

/**
FLASH
*/

.danger {
    background-color: #D32F2F;
}

.success {
    background-color: #4CAF50;
}

.checker {
    background-color: #00BCD4;
}

.checker,
.success,
.danger {
    padding-top: 20px;
    padding-bottom: 20px;
}

.flash {
    position: absolute;
    width: 100%;
    top: 74px;
}

.flash-text {
    color: #fff;
    margin: 0;
    padding: 0;
}

/* ==========================================================================
Typography
========================================================================== */

p {
    font-size: 15px;
    line-height: 29px;
    color: rgba(28, 54, 83, 0.6);
    padding-bottom: 20px;
    margin: 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h5 {
    font-size: 14px;
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    color: #3D4351;
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
    font-weight: 300;
    color: #3D4351;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3D4351;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
    color: #3D4351;
    text-transform: uppercase;
    font-weight: 500;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(28, 54, 83, 0.6);
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.section-padding {
    display: block;
    padding-top: 65px;
    margin-bottom: 65px;
}

.first-section {
    margin-top: 65px;
    min-height: 614px;
}

/* =================================================
Header ==========================================*/

.hamburger-button {
    background: transparent center center no-repeat;
    display: none;
    color: #fff;
    padding: 16px;
}

.hamburger-button .material-icons {
    font-size: 32px;
}

.nav-li-group {
    float: left;
    display: inline;
    margin-top: 15px;
    padding: 8px 40px;
}

.logo-header {
    position: relative;
    background: url('../img/logo/min_logo.png') no-repeat center;
    background-size: cover;
    width: 64px;
    height: 64px;
    float: left;
    display: inline-block;
}

@media (max-width: 768px) {
    .hamburger-button {
        display: block;
        width: 64px;
        height: 64px;
    }

    .logo-header {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-collapse {
        display: none;
    }
}

.navbar {
    margin-left: 64px;
}

.nav-bar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: rgb(28, 105, 175);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

.header-nav {
    background-color: rgb(28, 105, 175);
    height: 100%;

}

.navbar-collapse a {
    text-transform: uppercase;
    font-size: 0.8em;

    padding: 25px 12px 23px;

    color: #fff;
    text-align: center;
    transition: 0.3s ease-out;
}

.side-bar-content a:hover, .navbar-collapse a:hover,.navselected {
    background-color: rgba(0, 0, 0, 0.2);
}

/**
side
*/
.side-bar {
    position: fixed;
    left: 0;
    top: 65px;
    display: block;
    height: 100%;
    z-index: 999;
    margin-left: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.side-bar-content {
    display: inline;
    margin-top: 0;
    padding: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    text-align: center;
}

.side-bar-content a {
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;

    padding: 12px;

    color: #000;
    text-align: center;
    transition: 0.3s ease-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.side-bar li {
    display: block;
}


/*
*/

.floating-arrow {
    animation-name: floating-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #fff;
    margin: auto auto auto 25px;
}

@-webkit-keyframes floating-arrow {
    from {
        transform: translate(-50%, 0);
    }
    65% {
        transform: translate(-50%, 15px);
    }
    to {
        transform: translate(-50%, 0);
    }
}

@keyframes floating-arrow {
    from {
        transform: translate(-50%, 0);
    }
    65% {
        transform: translate(-50%, 15px);
    }
    to {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

/**
home
*/

.home {
    background: url("../img/background/home-min.jpg") no-repeat top center;
    background-size: cover;
    height: 100%;
    min-height: 930px;
}

.home h1 {
    color: #fff;
    margin-bottom: 40px;
}

.home p {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    max-width: 700px;
    margin: auto;
}

.home-content {
    text-align: center;
    margin-top: 75px;
}

li {
    display: inline;
}

header li {
    padding: 0;
    margin: 0;
}

.footer-group li {
    margin-right: 30px;
}
/**
*/

.intro-icon .material-icons {
    font-size: 40px;
    color: rgb(28, 105, 175);
}

.intro-icon {
    display: inline-block;
    vertical-align: top;
    margin: 6px 20px 0 0;
}

.intro-content {
    display: inline-block;
    width: 80%;
}

/* ==========================================================================
Sign up form
========================================================================== */

.center {
    text-align: center;
}

.form-group {
    height: 50px;
    margin: 0 auto 35px;
    border-radius: 5px;
    border: solid 1px #E6E9EA;
    text-align: left;
    position: relative;
}
/**
FOOTER
*/

footer p {
    color: #ACB1B4;
    font-size: 13px;
}

footer a {
    color: #fff;
}

.footer-info a:hover {
    color: rgb(28, 105, 175);
}

footer ul.footer-group li a {
    font-size: 13px;
    text-transform: uppercase;
}

.reference {
    text-align: center;
    background-color: #373D4A;
    padding-top: 60px;
    height: 100%;
}

footer .reference p {
    color: #fff;
}

/*logo */
.iut-orsay {
    background-color: #fff;
    margin-right: 20px;
}

.univ-paris-saclay,
.iut-orsay {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
}

.univ-paris-saclay {
    background-color: #660033;
}

.iut-orsay:hover,
.iut-orsay:focus {
    background-color: #d8d8d8;
    transition: 0.5s;
}

.univ-paris-saclay:hover,
.univ-paris-saclay:focus {
    background-color: #500028;
    transition: 0.5s;
}

.univ-logo {
    width: 80%;
    height: 90%;
    margin: 5px;
}

.univ-parsi-saclay-icon {
    margin: 5px;
    background: url("../img/icon/saclay.svg");
    height: 50px;
    width: 50px;
}

.footer-info {
    background-color: #3D4351;
    height: 100%;
    padding-top: 40px;
}

@media only screen and (min-width: 5px) {

    #slide-out {
        max-width: 250px;
        background: #ECF0F1;
    }

    .footer-object {
        height: 50px;
        background-color: #495061;
    }

    .footer-object-square {
        height: 50px;
        width: 50px;
        display: block;
        background-color: #373D4A;
        margin: auto;
    }

    .icon-arrow-home {
        color: #fff;
        position: absolute;
    }
}

/**************************************************/

.arrow-top {
    margin: 230px auto auto;
    display: block;
    height: 50px;
    width: 50px;
}

.arrow-footer {
    margin-left: 25px;
}

.logo-home {
    margin: auto;
    padding-bottom: 50px;
}

.home-logo {
    margin-bottom: 20px;
    height: 200px;
}

.form-icon {
    position: absolute;
    margin: 12px;
    color: rgb(28, 105, 175);
}

.form-icon:after {
    content: "";
    height: 30px;
    border-right: solid 1px #E6E9EA;
    position: absolute;
    left: 36px;
    top: -3px;
}

.footer-group {
    border-top: solid 1px #4E566C;
    padding-top: 25px;
    margin-bottom: 45px;
    margin-right: 25px;
}

.info-ref {
    height: 250px;
}

@media (max-width: 992px) {

    .univ-paris-saclay,
    .iut-orsay {
        height: 80px;
        width: 80px;
    }

}
.form-verify{
    color:rgba(0,0,0,.2);

    padding: 42px;
    min-height: 654px;
    margin: 21px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
}
.submit-form{
    margin-top: 24px;
}

.input_group {
    position: relative;;
    z-index: 1;
    display: inline-block;
    margin: 22px 0 22px;
    width: 100%;
}

.input_field:focus + .input_label::after,
.textarea_field:focus + .textarea_label::after {
    background-color: rgb(28, 105, 175);
}

.textarea_field:focus + .textarea_label::after {
    transform: translateY(4px) scale(1.0);
}
.input_field:focus + .input_label::after {
    transform: translateY(4px) scale(1.0);
}
.input_field {
    height: 48px;
}
.textarea_field,
.input_field {
    position: relative;
    display: block;
    float: right;
    font-size: 16px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: rgb(28, 105, 175);
    width: 100%;
    outline: none;
    margin: auto;
    z-index: 1;
    -webkit-appearance: none;
}
.textarea_field {
    height: 148px;
    resize: none;
    padding-top: 8px;
}

.textarea_label::after {
    top: 148px;
}
.input_label::after {
    top: 46px;
}
.textarea_label::after,
.input_label::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #e6e6e6;
    transition: 0.3s ;
}

.input_field-active-icon {
    transform: translateY(-32px);
}
.input_label {
    margin: 0;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    text-align: left;
    pointer-events: none;
    color: rgba(28, 54, 83, 0.6);
}

.input_label-icon {
    position: absolute;
    display: inline-block;
    margin: 12px 8px 8px;
    left: -48px;
    top: 0;
    transition: 0.3s ease;
    color: rgba(28, 54, 83, 0.6);
}
.form{
    padding: 42px;
    margin: 21px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
}
.input_label-content {

    position: absolute;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    width: auto;
    left: 0;

    top: 14px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
}

.input_label-icon-out {
    color: rgb(28, 105, 175);
}

.input_label-content-out {
    transform: translateY(-32px);
    font-size: 14px;
    color: rgb(28, 105, 175);
}

.input_label-content-active {
    position: absolute;
    top:-12px;
    left:0;
    font-size: 12px;
    color: rgb(28, 105, 175);
}
.disable{
    color: rgba(28, 54, 83, 0.6);
}
.input_info {
    text-align: left;
    display: block;
    font-size: 12px;
    top: 54px;
    color: rgba(28, 54, 83, 0.6);
    position: absolute;
}
/****btn **/

.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 54px;
    line-height: 56px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: rgb(28, 105, 175);
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
.btn:hover {
    background-color: rgba(28, 105, 175,0.9);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.account-menu-item{
    margin-top: 64px;
}
.inter{
    background: url("../img/background/polygonal-section.jpg") no-repeat top center;
    background-size: cover;
    overflow: hidden;
    display: block;
    min-height: 200px;
    width: 100%;
}
